/* generics */    
:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --pale-cyan: hsla(171,66%,44%,0.5);
    --light-blue: hsl(233, 100%, 69%);
    --pale-blue: hsla(223,100%,69%,0.5);
    --dark-grey-blue: hsl(210, 10%, 33%);
    --greyish-blue: hsl(201, 11%, 66%);
    --light-greyish-blue: hsla(201, 11%, 66%, 0.5);
    --footer-grey: hsla(210, 10%, 33%, 0.8);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    height: auto;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Bai Jamjuree", sans-serif;
    color: var(--dark-grey-blue);
}
body {
    /* margin: auto; */
    background: url("../images/bg-header-desktop.png") repeat-x;
}
/* end generics */

p {
    color: var(--greyish-blue);
}
.container {
    margin: 12rem 1rem;
}   
.header-logo {
    display: block;
    margin: 3rem auto;
}
.top {
    margin: 2rem auto;
} 
.top h1 {
    text-align: center;
    font-size: 3.6rem;
    margin: 5rem auto;
    font-weight: 600;
}
.top p {
    text-align: center;
    font-size: 1.8rem;
    margin: auto;
}
.downloads {
    display: flex;
    flex-flow: row wrap;
    margin: 4rem auto;
    gap: 1.6rem;
    width: 95%;
    justify-content: center;
    height: auto;
}
.button {
    padding: 2rem 8rem;
    border-radius: 6rem;
    color: #fff;
    font-size: 1.8rem;
}
.ios {
    background-color: var(--strong-cyan);
    box-shadow: 2px 2px 12px var(--pale-cyan);
}
.mac {
    background-color: var(--light-blue);
    box-shadow: 2px 2px 12px var(--pale-blue);
}
.middle {
    margin: 8rem 0;
}
.feature-1 h2 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem auto;
    font-weight: 600;
}
.feature-1 p {
    text-align: center;
    font-size: 1.8rem;
    color: var(--greyish-blue);
    margin: auto;
}
.desktop-features {
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem;
    justify-content: center;
}
.desktop-pic {
    display: block;
    margin: 5rem auto;
    width: 95%;
    height: auto;
}
.item {
    flex-basis: 95%;
    height: auto;
}
.item h2 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem auto;
    font-weight: 600;
}
.item h3 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    font-weight: 600;
}
.item p {
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
}
.text-icon {
    display: block;
    margin: 1rem auto;
    height: 30%
}
.mobile-features {
    display: flex;
    flex-flow: row wrap;
    margin: 6rem auto;
    justify-content: center;
}
.mobile-pic {
    display: block;
    margin: 5rem auto;
    width: 95%;
    height: auto;
}
.selling-points {
    display: flex;
    flex-flow: column nowrap;
}
.sponsors {
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: auto;
}
.sponsors img {
    display: block;
    flex-basis: 55%;
    width: 15rem;
    height: auto;
    margin: auto;
}
.bottom {
    background-color: var(--light-greyish-blue);
}
.bottom-container {
    display: grid;
    padding: 2rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.bottom .item {
    font-size: 2rem;
    text-align: center;
    color: var(--footer-grey);
}
.small-logo {
    width: 50%;
    display: block;
    margin: 2rem auto;
}
.links {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}
.socials {
    display: grid;
    grid-template-columns: repeat(3, 15px);
    gap: 3rem;
    justify-content: center;
    margin: 2rem auto;
}
.social-icon {
    display: block;
    margin: auto;
}

/* footer/attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
footer hr {
    width: 85%;
    border-top: 1px dotted var(--dark-grey-blue);
    display: block;
    margin: 2rem auto;
}

/* for desktop version */
@media screen and (min-width: 430px) {
    .downloads {
        width: 95%;
    }
    .desktop-features {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-top: 4rem;
    }
    .desktop-features .item {
        flex: 0 0 35%;
        margin: 0;
    }
    .desktop-pic {
        position: relative;
        float: left;
    }
    .desktop-items {
        width: auto;
        height: auto;
    }
    .desktop-items p, .desktop-items h3 {
        text-align: left;
    }
    .mobile-features {
        display: flex;
        flex-flow: row wrap;
    }
    .selling-points {
        display: flex;
        flex-flow: row wrap;
        width: 95%;
        justify-content: center;
    }
    .selling-points .item {
        flex-shrink: 1;
        flex-basis: 30%;
    }
    .mobile-pic {
        display: block;
        width: 45%;
    }
    .sponsors {
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 1rem;
    }
    .sponsors img {
        display: block;
        flex-basis: 10%;
        width: 2rem;
        height: auto;
    }
    .bottom-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        /* width: 90%; */
    }
    .small-logo {
        width: 25%;
        height: auto;
    }
    .links {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: left;
    }
    .links .item {
        flex-basis: 25%;
    }
    .socials {
        display: grid;
        justify-content: right;
        place-self: end right;
    }
}
